/*
 main css for sample demo
 */

$modal-popup-max-width: 562px;
$modal-popup-radius:10px;
$modal-popup-bg-color:#FFF;
$primary-color:#b669f7;
$default-color: #a18c84;
$modal-popup-color:#7c7188;
$modal-popup-header-font-size:34px;

$button-min-width:193px;
$button-height:40px;
$button-color:#FFF;


body {
  background-color: #3e3c3f;
  font-family: Arial, Verdana;
}

section {
  background-color: #FFF;
  margin:20px;
  padding:20px;
}

/**
 modal component
 */

.modal-popup {
  max-width:$modal-popup-max-width;
  width:75%;
  border-radius: $modal-popup-radius;
  color:$modal-popup-color;
  background-color: $modal-popup-bg-color;
  margin:0 auto;
  padding: 40px 50px;
}

.modal-popup .modal-popup-header {
  font-size:$modal-popup-header-font-size;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
}
.modal-popup-body {
  margin:10px 0;
}

.modal-popup .modal-popup-footer {
  text-align: center;
}

/**
table
 */

table {
  width:50%;
  border:solid 1 #CCC;
}


/**
 button component
 */

.btn {
  text-transform: uppercase;
  min-width:$button-min-width;
  height:$button-height;
  background-color: $default-color;
  color:$button-color;
  border:none;
  border-radius:20px;
  cursor: pointer;
}

.btn-primary {
  background-color: $primary-color;
}

.btn:hover {
  background-color: lighten($default-color,10%);
}
.btn-primary:hover {
  background-color: lighten($primary-color,10%);
}